---
name: Build All
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '05 10 * * *'  # 10:05am UTC everyday
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:
permissions:
  contents: write
  packages: write
  id-token: write
jobs:
  prep:
    runs-on: ubuntu-latest
    name: Prepare needed environment variables
    steps:
    - id: day
      run: |
        streams=(latest)
        echo "Day is $(date +%u) ($(date +%a))"
        echo "Triggered by ${{ github.event_name }}"
        if [[ ${{ github.event_name }} == schedule ]]; then
          echo "Add stable to streams"
          streams+=(stable)
          if [[ $(date +%u) == 7 ]]; then
            echo "Adding gts to streams"
            streams+=(gts)
          fi
        fi
        echo "STREAMS=$(jq -nc '$ARGS.positional' --args ${streams[@]})" >> "$GITHUB_OUTPUT"
  build_push:
    needs: [prep]
    name: Build and push images
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        base_name:
          - silverblue-tweaks
        image_flavour:
          - main
        stream_name: ${{ fromJSON(needs.prep.outputs.STREAMS) }}
    with:
      base_name: ${{ matrix.base_name }}
      image_flavour: ${{ matrix.image_flavour }}
      stream_name: ${{ matrix.stream_name }}
  create_release:
    needs: [build_push]
    name: Create Release
    uses: ./.github/workflows/create-release.yml
    with:
      image_name: silverblue-tweaks
      stream_name: latest
