---
name: Build All
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '05 10 * * *'  # 10:05am UTC everyday
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:
permissions:
  contents: write
  packages: write
  id-token: write
jobs:
  build_push:
    name: Build and push images
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        base_name:
          - silverblue-tweaks
        flavor:
          - main
    with:
      base_name: ${{ matrix.base_name }}
      flavor: ${{ matrix.flavor }}
      stream: latest
  create_release:
    needs: [build_push]
    name: Create Release
    uses: ./.github/workflows/create-release.yml
