---
name: Build All
on:
  pull_request:
    branches:
      - main
  schedule:
    - cron: '05 10 * * *'  # 10:05am UTC everyday
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'
  workflow_dispatch:
permissions:
  contents: write
  packages: write
  id-token: write
concurrency:
  group: ${{ github.event_name }}-${{ github.event.number }}
  cancel-in-progress: true
jobs:
  prep:
    runs-on: ubuntu-latest
    name: Prepare needed environment variables
    outputs:
      STREAMS: ${{ steps.streams.outputs.STREAMS }}
    steps:
    - id: date
      run: echo "DAY=$(date +%u)" >> $GITHUB_OUTPUT
    - id: streams
      run: |
        STREAMS=('{"stream_name": "latest", "push": true, "release": false}')
        echo "Day is ${{ steps.date.outputs.DAY }} ($(date +%a))"
        echo "Triggered by ${{ github.event_name }}"
        if [[ ${{ github.event_name }} == schedule ]]; then
          STREAMS+=('{"stream_name": "stable", "push": true, "release": ${{ steps.date.outputs.DAY == 7 }}}')
          STREAMS+=('{"stream_name": "gts", "push": true, "release": true}')
        else
          STREAMS+=('{"stream_name": "stable", "push": false, "release": false}')
          STREAMS+=('{"stream_name": "gts", "push": false, "release": false}')
        fi
        STREAMS=$(jq -nc '$ARGS.positional' --jsonargs "${STREAMS[@]}")
        echo "Streams: $STREAMS"
        echo "STREAMS=$STREAMS" >> $GITHUB_OUTPUT

  build_push:
    needs: [prep]
    name: Build and push images
    uses: ./.github/workflows/build-image.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        base_name:
          - silverblue-tweaks
        image_flavour:
          - main
        stream_name:
          - latest
          - stable
          - gts
        include: ${{ fromJSON(needs.prep.outputs.STREAMS) }}
    with:
      base_name: ${{ matrix.base_name }}
      image_flavour: ${{ matrix.image_flavour }}
      stream_name: ${{ matrix.stream_name }}
      push: ${{ matrix.push }}
  create_release:
    needs: [build_push]
    name: Create Release
    uses: ./.github/workflows/create-release.yml
    strategy:
      matrix:
        stream_name:
          - latest
          - stable
          - gts
        include: ${{ fromJSON(needs.prep.outputs.STREAMS) }}
    with:
      image_name: silverblue-tweaks
      stream_name: ${{ matrix.stream_name }}
      release: ${{ matrix.release }}
