name: Create Release
on:
  workflow_call:
    inputs:
      image_name:
        description: "The name of the image to create a release for."
        type: string
        required: true
      stream_name:
        description: "The stream to create a release for."
        type: string
        required: true
      release:
        description: "Whether to create a release"
        type: boolean
        required: true

permissions:
  contents: write
env:
  SET_X: 1
jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - name: Generate Changelog
        id: changelog
        run: |
          ./changelog.py ${{ inputs.image_name }} ${{ inputs.stream_name }}
          cat changelog.md >> $GITHUB_STEP_SUMMARY
          source changelog.env
          echo "TAG=${TAG}" >> $GITHUB_OUTPUT

      - name: Upload Changelogs as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-changelog
          path: ./changelog.md
          if-no-files-found: error
          retention-days: 0
          compression-level: 0
          overwrite: true

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: ${{ inputs.release }}
        with:
          tag_name: ${{ steps.changelog.outputs.TAG }}
          body_path: ./changelog.md
          make_latest: ${{ matrix.stream_name == 'stable' }}
